*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font: 400 1rem/1.3 'Open sans', Arial, Helvetica, sans-serif;
  padding: 1.5rem;
  background: $gray-light;
  color: $font-color;
}

a {
  text-decoration: none;
  color: $font-color !important;
}

b {
  font-weight: 900;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cocogoose', serif !important;
  letter-spacing: .125px !important;
}
input, select, textarea, button {
  font-family: 'Lato', serif !important;
  letter-spacing: .125px !important;
}

hr.horizontal {
  margin: 1rem 0;
  background-color: $input-gackground-darken;
}

hr.vertical {
  margin: 0 1rem;
}

.wrapper {
  width: 62rem;
  margin: auto;
}

.pa2{
  padding: 2rem;
}
.pt1{
  padding-top: .25rem;
}

.ph3{
  padding-left: 1rem;
  padding-right: 1rem;
}

.button.tiny{
  border-radius: 2px;
  font-size: 0.55rem;
}

.button.blue{
  background-color: $brand-color;
  color: $white-normal;
  width: auto;
  min-width: 8rem;
  text-transform: uppercase;
  font-weight: 700;
  &:hover{
    background-color: $brand-color;
    color: $white-normal
  }
}

.pagination-list{
  li{
    p{
      cursor: pointer;
      border: 1px solid #dbdbdb;
      background-color: $white-normal;
      &:hover{
        border-color: #b5b5b5;
      }
    }
  }
}

div.sticky{
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.card-content.scrollable{
  height: 80vh;
  overflow-y: auto;
}
