$brand-color: #222552;
$secondary-color: #ea700d;
$red-color: #f14343;
$green-color: #24e673;
$font-color: #121417;

$brand-color-lighten: lighten($brand-color, 10%);
$brand-color-light: lighten($brand-color, 5%);
$brand-color-normal: $brand-color;
$brand-color-dark: darken($brand-color, 5%);
$brand-color-darken: darken($brand-color, 10%);

$secondary-color-lighten: lighten($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 5%);
$secondary-color-normal: $secondary-color;
$secondary-color-dark: darken($secondary-color, 5%);
$secondary-color-darken: darken($secondary-color, 10%);

$black-lighten: lighten($font-color, 10%);
$black-light: lighten($font-color, 5%);
$black-normal: $font-color;
$black-dark: darken($font-color, 5%);
$black-darken: darken($font-color, 10%);

$red-light: lighten($red-color, 5%);
$red-normal: $red-color;
$red-dark: darken($red-color, 5%);

$green-light: lighten($green-color, 5%);
$green-normal: $green-color;
$green-dark: darken($green-color, 5%);

$white-normal: #ffffff;
$white-dark: #fafafa;
$white-darker: #e6e6e6;

$gray-lightest: #f2f2f2;
$gray-lighter: #eaeaea;
$gray-light: #e1e1e1;
$gray-normal: #dadada;
$gray-dark: #d1d1d1;
$gray-darker: #cacaca;
$gray-darkest: #c2c2c2;


//header variables
$header-width: 4.35715rem;
$header-padding-horizontal: 1.5rem;

//formularios
$input-gackground: #ebebeb;
$input-gackground-lighten: lighten($input-gackground, 5);
$input-gackground-normal: $input-gackground;
$input-gackground-darken: darken($input-gackground, 5);

//tables
$tr-background: #f9f9f9;
$tr-background-lighten: lighten($tr-background, 3);
$tr-background-normal: $tr-background;
$tr-background-darken: darken($tr-background, 3);
