.control-list{
  .control-option{
    cursor: move;
    list-style: none;
    margin: 0 0 -1px 0;
    padding: 10px;
    text-align: left;
    background: $gray-lightest;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px $gray-darkest;
    &:hover{
      background: $gray-darker;
    }
    &:first-child{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.options-list{
  min-height: 80vh;
  padding: 0.5rem;
  .item-list{
    list-style: none;
  }
  .drag{
    cursor: move;
    position: relative;
    &:hover{
      box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 0 8px $secondary-color-light;
    }
  }
  .actions{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    button{
      display: inline-block;
      width: 32px;
      height: 32px;
      padding: 0 6px;
      border-radius: 0;
      background: $white-normal;
      border-color: $gray-dark;
      color: $gray-darker;
      line-height: 32px;
      font-size: 16px;
      border-width: 0 0 1px 1px;
      &.delete{
        &:hover{
          background: $red-normal;
          color: $white-normal;
        }
      }
      &.edit{
        &:hover{
          background: $green-light;
          color: $white-normal;
        }
      }
    }
  }
  .drag:hover .actions {
    opacity: 1;
  }
  .empty-list{
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.ba {
  border-width: 1px;
}
.b--dashed{
  border-style: dashed;
}
.b--solid{
  border-style: solid;
}
