/**
 * Estilos para elementos que tiene por defecto el navegador. Como
 * por ejemplo los inputs, tablas, titulos, fuentes, ul/ol, links,
 * imagenes, etiqueta body, variables, etc.
*/
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/light/light.eot');
  src: url('../fonts/lato/light/light.woff2') format('woff2'),
  url('../fonts/lato/light/light.woff') format('woff'),
  url('../fonts/lato/light/light.ttf') format('truetype'),
  url('../fonts/lato/light/light.svg#Lato-Light') format('svg'),
  url('../fonts/lato/light/light.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/regular/regular.eot');
  src: url('../fonts/lato/regular/regular.woff2') format('woff2'),
  url('../fonts/lato/regular/regular.woff') format('woff'),
  url('../fonts/lato/regular/regular.ttf') format('truetype'),
  url('../fonts/lato/regular/regular.svg#Lato-Regular') format('svg'),
  url('../fonts/lato/regular/regular.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/black/black.eot');
  src: url('../fonts/lato/black/black.woff2') format('woff2'),
  url('../fonts/lato/black/black.woff') format('woff'),
  url('../fonts/lato/black/black.ttf') format('truetype'),
  url('../fonts/lato/black/black.svg#Lato-Black') format('svg'),
  url('../fonts/lato/black/black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/cocogoose/cocogoose.woff2') format('woff2'),
  url('../fonts/cocogoose/cocogoose.woff') format('woff'),
  url('../fonts/cocogoose/cocogoose.ttf') format('truetype'),
  url('../fonts/cocogoose/cocogoose.svg#Lato-Black') format('svg'),
  url('../fonts/cocogoose/cocogoose.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@import "gengar/variables";
@import "gengar/base";
$card-header-shadow: 0;
$card-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
$primary: $brand-color;
$label-color: hsl(0, 0%, 48%);
@import '~bulma/bulma';
@import "gengar/forms";
@import "gengar/checkbox";
@import "modules/card";
@import "modules/form-builder";
